[Desktop Entry]
Categories=Utility;Network;
Comment=InputSync - Software KVM Switch
Exec=inputsync
StartupWMClass=inputsync
Icon=inputsync
Name=InputSync
Terminal=false
Type=Application
